<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kuch toh name hai</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="stylesheet" href="../static/blogoutput.css">
    <link rel="stylesheet" href="/static/output.css">
    <link rel="stylesheet" href="/static/blogoutput.css">
</head>

<body class="bg-background">

    <nav class="fixed w-full bg-background z-50 border-b-2 border-[#2b2b2b]">
        <div class="w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../assets/logo.svg" class="h-8" alt="GreenVolt Logo" />
                <span
                    class="self-center text-3xl font-semibold whitespace-nowrap text-text font-roboto">GreenVolt</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-md text-text rounded-lg md:hidden"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#" viewBox="0 0 17 14">
                    <path stroke="#eeeeee" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-seconday rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 bg-primary md:bg-transparent">
                    <li>
                        <a href="/about-us" class="nav-links">About</a>
                    </li>

                    <li>
                        <a href="/blog" class="nav-links">Blog</a>
                    </li>

                    <li>
                        <a href="/market" class="nav-links">Market</a>
                    </li>

                    <li>
                        <a href="/contact-us" class="nav-links">Contacts</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- main landing -->
    <div
        class="row-auto pt-[100px] md:pt-[20px] flex justify-start items-start min-h-screen px-[20px] md:px-[85px] pb-[50px] md:pb-[0px] md:py-[80px]">
        <div class="w-full justify-center flex text-center items-center my-4">
            <div class=" w-full text-left px-[30px] md:px-[70px] py-[100px] rounded-lg">
                <h1 class="text-7xl text-left font-roboto text-text font-bold">
                    Green Energy Market
                </h1>
                <h1 class="text-xl text-left mt-3 font-roboto text-text">
                    Finding some green alternative solutions for your house? You are at the right place.
                </h1>

                <div class="flex ">
                    <input
                        class="text-xl md:text-3xl py-2 px-5 w-[90%] my-3 text-seconday font-roboto border-4 rounded-lg border-accent"
                        placeholder="🍀Search...">
                    <button
                        class="text-text rounded-lg border-4 mx-2 border-primary hover:border-text py-2 px-4 font-bold font-roboto text-lg md:text-3xl my-3">
                        Search
                    </button>
                </div>

                <p class="text-text font-roboto text-xl">
                    No. of products found: 0
                </p>

                <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2  xl:grid-cols-3 my-10">
                    <div class="p-5">
                        <div style="background-image: url('https://placehold.co/300x250');"
                            class="bg-no-repeat bg-cover relative bg-center p-5 m-[10px] w-full flex justify-center items-start sm:min-w-[300px] min-h-[300px] border-4 border-primary rounded-lg">
                            <div class="absolute w-full h-full top-0 left-0"
                                style="background-color: rgba(0, 0, 0, 0.5);">
                            </div>

                            <div class="w-full">
                                <div class="absolute bottom-0 z-20 px-3 w-[90%] text-center">
                                    <h1 class=" text-text text-left w-full text-2xl font-roboto font-bold">
                                        Product Name
                                    </h1>
                                    <h1 class=" text-text text-left w-full text-xl font-roboto font-bold">
                                        Product description area
                                    </h1>
                                    <button
                                        class="w-full text-text rounded-lg border-4 border-primary hover:border-text py-2 px-4 font-bold font-roboto text-3xl my-3">
                                        View Product
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-5">
                        <div style="background-image: url('https://placehold.co/300x250');"
                            class="bg-no-repeat bg-cover relative bg-center p-5 m-[10px] w-full flex justify-center items-start sm:min-w-[300px] min-h-[300px] border-4 border-primary rounded-lg">
                            <div class="absolute w-full h-full top-0 left-0"
                                style="background-color: rgba(0, 0, 0, 0.5);">
                            </div>

                            <div class="w-full">
                                <div class="absolute bottom-0 z-20 px-3 w-[90%] text-center">
                                    <h1 class=" text-text text-left w-full text-2xl font-roboto font-bold">
                                        Product Name
                                    </h1>
                                    <h1 class=" text-text text-left w-full text-xl font-roboto font-bold">
                                        Product description area
                                    </h1>
                                    <button
                                        class="w-full text-text rounded-lg border-4 border-primary hover:border-text py-2 px-4 font-bold font-roboto text-3xl my-3">
                                        View Product
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-5">
                        <div style="background-image: url('https://placehold.co/300x250');"
                            class="bg-no-repeat bg-cover relative bg-center p-5 m-[10px] w-full flex justify-center items-start sm:min-w-[300px] min-h-[300px] border-4 border-primary rounded-lg">
                            <div class="absolute w-full h-full top-0 left-0"
                                style="background-color: rgba(0, 0, 0, 0.5);">
                            </div>

                            <div class="w-full">
                                <div class="absolute bottom-0 z-20 px-3 w-[90%] text-center">
                                    <h1 class=" text-text text-left w-full text-2xl font-roboto font-bold">
                                        Product Name
                                    </h1>
                                    <h1 class=" text-text text-left w-full text-xl font-roboto font-bold">
                                        Product description area
                                    </h1>
                                    <button
                                        class="w-full text-text rounded-lg border-4 border-primary hover:border-text py-2 px-4 font-bold font-roboto text-3xl my-3">
                                        View Product
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-5">
                        <div style="background-image: url('https://placehold.co/300x250');"
                            class="bg-no-repeat bg-cover relative bg-center p-5 m-[10px] w-full flex justify-center items-start sm:min-w-[300px] min-h-[300px] border-4 border-primary rounded-lg">
                            <div class="absolute w-full h-full top-0 left-0"
                                style="background-color: rgba(0, 0, 0, 0.5);">
                            </div>

                            <div class="w-full">
                                <div class="absolute bottom-0 z-20 px-3 w-[90%] text-center">
                                    <h1 class=" text-text text-left w-full text-2xl font-roboto font-bold">
                                        Product Name
                                    </h1>
                                    <h1 class=" text-text text-left w-full text-xl font-roboto font-bold">
                                        Product description area
                                    </h1>
                                    <button
                                        class="w-full text-text rounded-lg border-4 border-primary hover:border-text py-2 px-4 font-bold font-roboto text-3xl my-3">
                                        View Product
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-5">
                        <div style="background-image: url('https://placehold.co/300x250');"
                            class="bg-no-repeat bg-cover relative bg-center p-5 m-[10px] w-full flex justify-center items-start sm:min-w-[300px] min-h-[300px] border-4 border-primary rounded-lg">
                            <div class="absolute w-full h-full top-0 left-0"
                                style="background-color: rgba(0, 0, 0, 0.5);">
                            </div>

                            <div class="w-full">
                                <div class="absolute bottom-0 z-20 px-3 w-[90%] text-center">
                                    <h1 class=" text-text text-left w-full text-2xl font-roboto font-bold">
                                        Product Name
                                    </h1>
                                    <h1 class=" text-text text-left w-full text-xl font-roboto font-bold">
                                        Product description area
                                    </h1>
                                    <button
                                        class="w-full text-text rounded-lg border-4 border-primary hover:border-text py-2 px-4 font-bold font-roboto text-3xl my-3">
                                        View Product
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-5">
                        <div style="background-image: url('https://placehold.co/300x250');"
                            class="bg-no-repeat bg-cover relative bg-center p-5 m-[10px] w-full flex justify-center items-start sm:min-w-[300px] min-h-[300px] border-4 border-primary rounded-lg">
                            <div class="absolute w-full h-full top-0 left-0"
                                style="background-color: rgba(0, 0, 0, 0.5);">
                            </div>

                            <div class="w-full">
                                <div class="absolute bottom-0 z-20 px-3 w-[90%] text-center">
                                    <h1 class=" text-text text-left w-full text-2xl font-roboto font-bold">
                                        Product Name
                                    </h1>
                                    <h1 class=" text-text text-left w-full text-xl font-roboto font-bold">
                                        Product description area
                                    </h1>
                                    <button
                                        class="w-full text-text rounded-lg border-4 border-primary hover:border-text py-2 px-4 font-bold font-roboto text-3xl my-3">
                                        View Product
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </div>


    </div>



    <hr class="border-2 w-full border-[#2b2b2b]">

    <!-- footer side -->
    <footer class="w-full py-6">

        <div class="text-center">
            <!-- links -->
            <div class="flex justify-center items-center space-x-4">
                <a href="https://instagram.com/krishsharma0413" class="footer-svg">
                    <img src="../assets/instagram-icon.svg">
                </a>
                <a href="https://github.com/krishsharma0413" class="footer-svg">
                    <img src="../assets/github-icon.svg">
                </a>
                <a href="https://youtube.com" class="footer-svg">
                    <img src="../assets/youtube-icon.svg">
                </a>
                <a href="https://facebook.com" class="footer-svg">
                    <img src="../assets/facebook.svg">
                </a>
                <a href="mailto:krishsharma0413@gmail.com" class="footer-svg">
                    <img src="../assets/google-gmail.svg">
                </a>
            </div>

            <div class="flex justify-center items-center space-x-4">
                <a href="/about-us" class="footer-link">About</a>
                <a href="/blog" class="footer-link">Blog</a>
                <a href="/market" class="footer-link">Market</a>
                <a href="/contact-us" class="footer-link">Contacts</a>
            </div>
        </div>

        <div class="text-center">
            <p class="text-text font-roboto">© 2024 GreenVolt. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://flowbite.com/docs/flowbite.min.js?v=2.3.0a"></script>

</body>

</html>